<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>KMLProject</display-name>

    <!-- Servlet Mapping -->
    <servlet>
        <servlet-name>KMLServlet</servlet-name>
        <servlet-class>util.servlet.KMLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KMLServlet</servlet-name>
        <url-pattern>/generateKML</url-pattern>
    </servlet-mapping>

</web-app>